In [163]:
import re
import pandas as pd
import warnings
from tqdm import tqdm
import numpy as np
warnings.filterwarnings("ignore")
warnings.simplefilter('ignore')

In [3]:
def delete_useless(contents):

    case1 = re.search('.+?(?=[\.\s\(][a-zA-Z0-9]+?@)', str(contents))
    case2 = re.search('.+?(?=▶)', str(contents))
    case3 = re.search('.+?(?=\w{3}\s?기자)', str(contents))

    if case1 != None :
        contents = case1.group()
    elif case2 != None :
        contents = case2.group()
    elif case3 != None :
        contents = case3.group()
        
    case4 = re.search('기자 \= (.+)', str(contents))
    case5 = re.search('\](.+)', str(contents))
    
    if case4 != None :
        contents = case4.group(1)
    elif case5 != None :
        contents = case5.group(1)
        
    return contents

In [4]:
def data_arrange(theme):
    
    df = pd.read_csv("Data/theme_news_data/" + theme + ".txt", sep='\t', header=None, error_bad_lines=False, warn_bad_lines=False, engine='python')
    df = df[3]
    df = pd.DataFrame(df)
    df.columns = ['contents']
    df = df.dropna()
    df = df.drop_duplicates().reset_index()
    
    
    df = df[0:250]
    
    lst = []
    for i in range(len(df)):
        lst.append(delete_useless(df.contents[i]))
    for i in lst:
        if len(i) <= 50:
            lst.remove(i)
    df = pd.DataFrame(lst)
    df['theme'] = theme
    cols = df.columns.tolist()
    cols = cols[-1:] + cols[:-1]
    df = df[cols]
    df.columns = ['theme','contents']
    df = df[0:100]
    
    return df

In [7]:
lst = pd.read_csv('Data/filtered_data/final_filtered_data_1.csv', index_col=0)

In [6]:
for i in tqdm(range(len(lst.Theme.values))):
    try:
        if i == 0:
            df = data_arrange(lst.Theme.values[i])
        else:
            new_df = data_arrange(lst.Theme.values[i])
            df = pd.concat([df, new_df])
    except:
        print("Error occured: %s" % lst.Theme.values[i])

  2%|▏         | 3/137 [00:21<22:46, 10.19s/it]

Error occured: 컴퓨팅

 30%|██▉       | 41/137 [05:43<05:25,  3.39s/it]

Error occured: 괴질

 68%|██████▊   | 93/137 [10:02<01:55,  2.63s/it]

Error occured: 원전
Error occured: 테슬라

100%|██████████| 137/137 [14:10<00:00,  6.21s/it]

In [25]:
df.to_csv('theme_contents_raw.csv')

# 데이터 전처리

In [46]:
df = pd.read_csv("theme_contents_raw.csv",index_col=0)
df

      theme                                           contents
0      2차전지  한국무역보험공사(K-SURE)는 27일 이인호 무역보험공사 사장이 신종 코로나바이러...
1      2차전지   코스피 상장사 이엔플러스가 2차전지 효율을 극대화할 수 있는 '액상 그래핀' 개발...
2      2차전지   이엔플러스(074610)가 2차전지 효율을 극대화할 수 있는 액상 그래핀을 개발해...
3      2차전지   [[특징주]]이엔플러스가 세계 최초로 2차전지 효율을 극대화할 수 있는 액상 그래...
4      2차전지   2차전지 성장세로 관련 기업들이 함박웃음을 짓고 있다. 국내 배터리 3사의 연이은...
...     ...                                                ...
26118   희토류  (지디넷코리아=양태훈  기자)한국과 중국의 전문가들이 희토류 소재 분야에서 기술 협...
26119   희토류   테마가 강세다. 전일 대비 2.45% 상승세이다. 유니온머티리얼(047400)+7...
26120   희토류   미중 무역분쟁 갈등이 고조되고 희토류 관련주들이 강세를 보이고 있는 가운데 상보,...
26121   희토류  유니온·유니온머티리얼 급등티플랙스는 거래량 전체 2위샘표식품·사조대림 등도 강세미국...
26122   희토류   테마가 강세다. 전일 대비 2.8% 상승세이다. 티플랙스(081150)+9.51%...

[26123 rows x 2 columns]

In [47]:
removers = ['알콜','신재생에너지','언택트', '음성인식', '건설', '골판지', '석유', '태양광에너지', '통신장비', '항공기부품', '이뮨메드', '인테리어', '펭수', '풍력에너지', '휴대폰부품']

In [48]:
for i in tqdm(range(len(df))):
    if df.theme[i] in removers:
        df = df.drop(index=i)

df = df.reset_index(drop=True)

100%|██████████| 26123/26123 [00:00<00:00, 56510.26it/s]

In [49]:
df

      theme                                           contents
0      2차전지  한국무역보험공사(K-SURE)는 27일 이인호 무역보험공사 사장이 신종 코로나바이러...
1      2차전지   코스피 상장사 이엔플러스가 2차전지 효율을 극대화할 수 있는 '액상 그래핀' 개발...
2      2차전지   이엔플러스(074610)가 2차전지 효율을 극대화할 수 있는 액상 그래핀을 개발해...
3      2차전지   [[특징주]]이엔플러스가 세계 최초로 2차전지 효율을 극대화할 수 있는 액상 그래...
4      2차전지   2차전지 성장세로 관련 기업들이 함박웃음을 짓고 있다. 국내 배터리 3사의 연이은...
...     ...                                                ...
26093   희토류  (지디넷코리아=양태훈  기자)한국과 중국의 전문가들이 희토류 소재 분야에서 기술 협...
26094   희토류   테마가 강세다. 전일 대비 2.45% 상승세이다. 유니온머티리얼(047400)+7...
26095   희토류   미중 무역분쟁 갈등이 고조되고 희토류 관련주들이 강세를 보이고 있는 가운데 상보,...
26096   희토류  유니온·유니온머티리얼 급등티플랙스는 거래량 전체 2위샘표식품·사조대림 등도 강세미국...
26097   희토류   테마가 강세다. 전일 대비 2.8% 상승세이다. 티플랙스(081150)+9.51%...

[26098 rows x 2 columns]

# 이상한 데이터 확인

In [118]:
#알콜
lst2 = []
df2 = pd.read_csv("Data/theme_news_data/알콜.txt", sep='\t', header=None, error_bad_lines=False, warn_bad_lines=False, engine='python')
df2 = pd.DataFrame(df2[3]).dropna().drop_duplicates().reset_index(drop=True)[0:250]
df2.columns = ['contents']

for i in range(len(df2)):
    lst2.append(delete_useless(df2.contents[i]))
for i in lst2:
    if len(i) <= 50:
        lst2.remove(i)

df2 = pd.DataFrame(lst2)
df2['theme'] = '알콜'
cols = df2.columns.tolist()
df2 = df2[cols[-1:] + cols[:-1]][0:100]
df2.columns = ['theme','contents']
df2

   theme                                           contents
0     알콜  우연히 들어간 곳에서 좋아하는 책을 발견하게 될 확률은 얼마나 될까? 또 그 책이 ...
1     알콜  음료·아이스크림에 맥주·도시락까지 저열량 신제품 출시 잇따라식품·유통업계가 저칼로리...
2     알콜   글로벌 프리미엄 맥주 칭따오가 무알콜 맥주 ‘칭따오 논알콜릭’을 출시한다. 칭따오...
3     알콜  칭따오 논알콜릭 병, 캔여름 맥주 성수기를 앞두고 '논알콜 음료(무알콜 맥주)' 시...
4     알콜   글로벌 맥주 브랜드 칭따오도 무알콜 맥주시장에 뛰어든다. 전 세계적으로 건강을 중...
..   ...                                                ...
95    알콜  (서울=뉴스1) = 김현준 국세청장(왼쪽 첫번째)이 11일 울산 남구 손 소독제 업...
96    알콜  김현준(오른쪽 두번째) 국세청장이 11일 오전 울산 남구 손 소독제 업체인 한국알콜...
97    알콜  낮은 낮대로, 밤은 밤대로 술을 부르는 리스본의 풍경. 낮에는 비노 베르데에 해산물...
98    알콜  현재 한국알콜(017890)은 전일대비 9.84% 상승하여 13,950원 선에서 거...
99    알콜  최근 미국에서도 중국발 신종 코로나 바이러스 감염증(코로나19)이 확산되자 애플이 ...

[100 rows x 2 columns]

In [119]:
#신재생에너지
lst3 = []
df3 = pd.read_csv("Data/theme_news_data/신재생에너지.txt", sep='\t', header=None, error_bad_lines=False, warn_bad_lines=False, engine='python')
df3 = pd.DataFrame(df3[1]).dropna().drop_duplicates().reset_index(drop=True)[0:250]
df3.columns = ['contents']

for i in range(len(df3)):
    lst3.append(delete_useless(df3.contents[i]))
for i in lst3:
    if len(i) <= 50:
        lst3.remove(i)

df3 = pd.DataFrame(lst3)
df3['theme'] = '신재생에너지'
cols = df3.columns.tolist()
df3 = df3[cols[-1:] + cols[:-1]][0:100]
df3.columns = ['theme','contents']
df3

     theme                                           contents
0   신재생에너지  신재생에너지 안전 강화 전략 발표, 풍수해 예방교육 진행 29일 수원 컨벤션센터에서...
1   신재생에너지  해남 솔라시도에 국내 최대 태양광발전소 단지 준공㈜한양이 한국남부발전, KB자산운용...
2   신재생에너지  ㈜한양이 신재생 에너지 사업 분야 진출을 본격화한다. 한양은 한국남부발전, KB자산...
3   신재생에너지  중견 건설사 ㈜한양이 신재생 에너지 사업 분야로의 진출을 본격화한다고 29일 밝혔다...
4   신재생에너지  친환경 스마트도시 솔라시도에 국내 최대 태양광발전소 단지 준공"에너지 디벨로퍼로 첫...
..     ...                                                ...
95  신재생에너지  조선대 전경조선대는 2021학년도부터 첨단 분야 학과인 첨단에너지공학과와 인공지능공...
96  신재생에너지  대구대학교(총장 김상호)가 경상북도가 공모한 '지역사업 연계형 대학 특성화학과 혁신...
97  신재생에너지   광주광역시 서구 상무시민공원에 들어서는 에너지파크 조성사업이 본격 시작된다.광주광...
98  신재생에너지   한국전력이 에너지밸리 조성 사업의 일환으로 추진하는 광주 에너지파크 건립이 본격화...
99  신재생에너지   광주광역시 상무시민공원에 에너지파크가 조성된다.광주광역시는 상무시민공원(옛 광엑스...

[100 rows x 2 columns]

In [120]:
#신재생에너지
lst4 = []
df4 = pd.read_csv("Data/theme_news_data/언택트.txt", sep='\t', header=None, error_bad_lines=False, warn_bad_lines=False, engine='python')
df4 = pd.DataFrame(df4[0]).dropna().drop_duplicates().reset_index(drop=True)[0:250]
df4.columns = ['contents']
df4

for i in range(len(df4)):
    lst4.append(delete_useless(df4.contents[i]))
for i in lst4:
    if len(i) <= 50:
        lst4.remove(i)

df4 = pd.DataFrame(lst4)
df4['theme'] = '언택트'
cols = df4.columns.tolist()
df4 = df4[cols[-1:] + cols[:-1]][0:100]
df4.columns = ['theme','contents']
df4

   theme                                           contents
0    언택트   밀집도 낮은 여행지, 하계 성수기 여행수요 분산을 위해 한국관광공사와 7개 지역관...
1    언택트  제주 남원에 있는 고살리 숲길. /제주관광공사한국관광공사는 29일 코로나바이러스 감...
2    언택트  부산 황령산(사진)과 장산, 다대포해수욕장, 회동수원지, 치유의 숲 등이 우리나라를...
3    언택트  평택 바람새마을 소풍정원 한국관광공사와 7개 지역관광공사(RTO)로 구성된 지역관광...
4    언택트  KT가 이지웰과 지역화폐 사업을 통한 지역경제 활성화를 위해 지역밀착형 O2O 서비...
..   ...                                                ...
95   언택트   국내 연구진이 코로나19 감염병이 계속 확산되는 가운데 의료진과 환자간 접촉 없이...
96   언택트   캠코(한국자산관리공사) 인재개발원의 언택트 공무원직무전문교육 중 첫 과정인 ‘국유...
97   언택트  22일 상호 협력방안 공유…대구시는 복합혁신센터로 정주여건 활성화 약속22일 열린 ...
98   언택트   삼중고 위기 속 대형마트   ▽ 긴급재난지원금 사용처 제외 '속앓이'  ▽ 코로나...
99   언택트   신종 코로나바이러스 감염증(코로나19)의 글로벌 확산 사태로 '언택트(비대면)'가...

[100 rows x 2 columns]

In [121]:
#음성인식
lst5 = []
df5 = pd.read_csv("Data/theme_news_data/음성인식.txt", sep='\t', header=None, error_bad_lines=False, warn_bad_lines=False, engine='python')
df5 = pd.DataFrame(df5[0]).dropna().drop_duplicates().reset_index(drop=True)[0:250]
df5.columns = ['contents']

for i in range(len(df5)):
    lst5.append(delete_useless(df5.contents[i]))
for i in lst5:
    if len(i) <= 50:
        lst5.remove(i)

df5 = pd.DataFrame(lst5)
df5['theme'] = '음성인식'
cols = df5.columns.tolist()
df5 = df5[cols[-1:] + cols[:-1]][0:100]
df5.columns = ['theme','contents']
df5

   theme                                           contents
0   음성인식   세계적인 인공지능(AI) 전문가 스튜어트 러셀 교수는 어떤 과학기술 분야보다도 A...
1   음성인식  /아마존 홈페이지인공지능(AI) 스피커의 음성수집 절차가 간소화되고 위치정보 창업신...
2   음성인식  음성 원본정보 수집시 동의절차 간소화(지디넷코리아=박수형  기자)인공지능 스피커의 ...
3   음성인식  제한된 데이터 학습만으로 정형화되지 않은 장문 음성 인식(지디넷코리아=백봉삼  기자...
4   음성인식  /네이버 클로바 스피치 홈페이지13일 네이버는 음성인식 엔진 ‘NEST’(Neura...
..   ...                                                ...
95  음성인식  HDC현대산업개발은 조명만으로도 상황에 따라 다양한 실내 분위기를 연출하는 스마트 ...
96  음성인식  음성인식·AI챗·빅데이터 기술 기반 애플리케이션과 서비스 개발대화나 회의용 실시간 ...
97  음성인식  폐암 아버지 목소리 담은 ‘대드봇’ 개발자대화형 AI 머신러닝 개발현장으로 안내美 ...
98  음성인식  기아자동차 '3세대 K5' K5는 기아자동차에게 처음 '디자인 기아' 타이틀을 안겨...
99  음성인식   자동차와 통신을 결합한 현대·기아자동차의 커넥티드카 서비스가 인기를 끌고 있다.현...

[100 rows x 2 columns]

In [123]:
#건설
lst6 =[]
df6 = pd.read_csv("Data/theme_news_data/건설.txt", sep='\t', header=None, error_bad_lines=False, warn_bad_lines=False, engine='python')
df6 = pd.DataFrame(df6.index).dropna().drop_duplicates().reset_index(drop=True)[0:250]
df6.columns = ['contents']
for i in range(len(df6)):
    df6['contents'][i] = df6['contents'][i][3]

    
for i in range(len(df6)):
    lst6.append(delete_useless(df6.contents[i]))
for i in lst6:
    if len(i) <= 50:
        lst6.remove(i)

df6 = pd.DataFrame(lst6)
df6['theme'] = '건설'
cols = df6.columns.tolist()
df6 = df6[cols[-1:] + cols[:-1]][0:100]
df6.columns = ['theme','contents']
df6

   theme                                           contents
0     건설  이라크 주재 한국대사관은 28일(현지시간) 홈페이지에 게시한 안전공지를 통해 신종 ...
1     건설  한화건설의 이라크 공사 현장에서 일하던 한국인이 코로나19로 사망한 것으로 전해졌습...
2     건설  이라크 주재 한국대사관은 28일(현지시간) 홈페이지에 게시한 안전공지를 통해 신종 ...
3     건설  한화건설의 이라크 비스마야 신도시 건설 공사 현장이 신종 코로나바이러스 감염증(코로...
4     건설  한화건설의 이라크 비스마야 신도시 건설현장에서 협력업체 직원 한명이 숨졌다. 현지 ...
..   ...                                                ...
95    건설  지난 26일 기획재정부 간부 만난 자리서 적극 설명 나서경북 포항~영덕 간 고속도로...
96    건설  GS건설이 신사업 진출에 속도를 내고 있다. 해외 수처리, 태양광 개발사업, 배터리...
97    건설   현대건설은 지난해에 이어 올해에도 새로운 시대에 걸맞은 건설 역량을 갖춘 ‘202...
98    건설  터치스크린 작동 우주선헬멧 일체형 우주복 등민간기업의 기술 혁신 집결내년 말 우주관...
99    건설  한국건설산업연구원은 임시이사회를 열고 제8대 연구원장으로 이재영 전 한국토지주택공사...

[100 rows x 2 columns]

In [126]:
#골판지
lst7 = []
df7 = pd.read_csv("Data/theme_news_data/골판지.txt", sep='\t', header=None, error_bad_lines=False, warn_bad_lines=False, engine='python')
df7 = pd.DataFrame(df7[1]).dropna().drop_duplicates().reset_index(drop=True)[0:250]
df7.columns = ['contents']

for i in range(len(df7)):
    lst7.append(delete_useless(df7.contents[i]))
for i in lst7:
    if len(i) <= 50:
        lst7.remove(i)

df7 = pd.DataFrame(lst7)
df7['theme'] = '골판지'
cols = df7.columns.tolist()
df7 = df7[cols[-1:] + cols[:-1]][0:100]
df7.columns = ['theme','contents']
df7

   theme                                           contents
0    골판지  ◇그래서 만들어봤습니다. 삼성전자가 지난 4월부터 전 세계에 출고 되는 라이프스타일...
1    골판지      질병관리본부 중앙방역대책본부 25일 신종 코로나바이러스 감염증(코로나19) 브리핑
2    골판지  必환경 라이프 ㉗ 친환경 포장재요즘 ‘새벽 배송’ ‘총알 배송’ 등이 일반화되면서 ...
3    골판지  │Living│삼성전자, 글로벌 TV시장 점유율 14년 연속 1위 삼성전자가 글로벌...
4    골판지             삼성전자는 지난 4월 전 세계에 출고되는 TV 포장재에 업사이클...
..   ...                                                ...
95   골판지   쿠팡은 미국 경제 전문방송 CNBC가 발표하는 ‘혁신기업 50’(CNBC Disr...
96   골판지   “2014년 워크아웃에 돌입했을 때는 생존만을 목표로 달려왔지만, 경영 정상화가 ...
97   골판지   VD 사업부 황수현 프로·손성도 프로·윤대희 프로(지디넷코리아=권혜미  기자)“삼...
98   골판지  (사진=스마트이미지 제공/자료사진)중앙방역대책본부 발표, 코로나19 바이러스가 든 ...
99   골판지  서울 남산에서 바라본 폭염경보가 내려진 도심의 모습. 열화상 이미지에서는 높은 온도...

[100 rows x 2 columns]

In [129]:
#석유
lst8 = []
df8 = pd.read_csv("Data/theme_news_data/석유.txt", sep='\t', header=None, error_bad_lines=False, warn_bad_lines=False, engine='python')
df8 = pd.DataFrame(df8[0]).dropna().drop_duplicates().reset_index(drop=True)[0:250]
df8.columns = ['contents']


for i in range(len(df8)):
    lst8.append(delete_useless(df8.contents[i]))
for i in lst8:
    if len(i) <= 50:
        lst8.remove(i)

df8 = pd.DataFrame(lst8)
df8['theme'] = '석유'
cols = df8.columns.tolist()
df8 = df8[cols[-1:] + cols[:-1]][0:100]
df8.columns = ['theme','contents']
df8

   theme                                           contents
0     석유   KB증권은 29일 금호석유에 대해 페놀유도체부문의 수익성이 우려와 달리 개선되고 ...
1     석유  미국 ‘셰일 혁명’을 이끌었던 체사피크에너지(Chesapeake Energy)가 결...
2     석유  이네오스에 세계 14개 제조현장 등 매각"재정비 위한 전략적 조치"/ 로이터연합뉴스...
3     석유  경찰이 전남 여수국가산업단지에 있는 삼남석유화학에서 발생한 화재 사고의 원인을 규명...
4     석유  여수경찰서, 감식반 10여명 보내 1차 감식 들어가22일 여수국가산단 안 삼남석유화...
..   ...                                                ...
95    석유  현재까지 인명피해 없어…진화 후 원인 조사큰 불길 진화…대응 1단계로 다시 하향22...
96    석유  (사진=연합뉴스)22일 저녁 8시 반쯤 전남 여수국가산단 내 한 석유화학 공장에서 ...
97    석유      (테헤란=연합뉴스) 강훈상 특파원 = 세예드 압바스 무사비 이란 외무부 대변...
98    석유  여수 삼남석유화학에서 폭발과 함께 화재(여수=연합뉴스) 22일 오후 전남 여수시 여...
99    석유  오후 8시27분께 폭발사고 신고22일 오후 전남 여수시 적량동 여수국가산업단지 내 ...

[100 rows x 2 columns]

In [133]:
#태양광에너지
lst9 = []
df9 = pd.read_csv("Data/theme_news_data/태양광에너지.txt", sep='\t', header=None, error_bad_lines=False, warn_bad_lines=False, engine='python')
df9 = pd.DataFrame(df9[0]).dropna().drop_duplicates().reset_index(drop=True)[0:250]
df9.columns = ['contents']


for i in range(len(df9)):
    lst9.append(delete_useless(df9.contents[i]))
for i in lst9:
    if len(i) <= 50:
        lst9.remove(i)

df9 = pd.DataFrame(lst9)
df9['theme'] = '태양광에너지'
cols = df9.columns.tolist()
df9 = df9[cols[-1:] + cols[:-1]][0:100]
df9.columns = ['theme','contents']
df9

     theme                                           contents
0   태양광에너지  한양, 한국남부발전과 손잡고 준공 국내 최대 98㎿급 발전설비 갖춰 ‘태양의 정원’...
1   태양광에너지  한양이 신재생 발전사업에 본격 진출한다. 한양은 한국남부발전, KB자산운용, 에너지...
2   태양광에너지  해남 솔라시도에 국내 최대 태양광발전소 단지 준공㈜한양이 한국남부발전, KB자산운용...
3   태양광에너지  한양이 신재생 발전사업에 본격 진출한다. 한양은 한국남부발전, KB자산운용, 에너지...
4   태양광에너지   배상현기자= 29일 중견 건설사인 (주)한양이 한국남부발전, KB자산운용 및 에너...
..     ...                                                ...
95  태양광에너지  강원도 정선군에 위치한 E1 정선 태양광 발전단지 전경. E1 제공LPG 전문기업 ...
96  태양광에너지  정선에 8㎿급 발전단지 준공신재생에너지 사업 본격화 액화석유가스(LPG) 전문기업 ...
97  태양광에너지   앞으로 건물 벽면과 지상 주차장, 전통시장 캐노피 등에도 태양광 발전소를 설치하면...
98  태양광에너지   앞으로 건물 벽면과 주차장, 전통시장 캐노피 등에도 태양광 발전소를 설치해 보조금...
99  태양광에너지   호반산업은 26일 전남 신안군 비금도 이세돌기념관에서 전라남도와 신안군, 한국수력...

[100 rows x 2 columns]

In [135]:
#통신장비
lst10 = []
df10 = pd.read_csv("Data/theme_news_data/통신장비.txt", sep='\t', header=None, error_bad_lines=False, warn_bad_lines=False, engine='python')
df10 = pd.DataFrame(df10[0]).dropna().drop_duplicates().reset_index(drop=True)[0:250]
df10.columns = ['contents']


for i in range(len(df10)):
    lst10.append(delete_useless(df10.contents[i]))
for i in lst10:
    if len(i) <= 50:
        lst10.remove(i)

df10 = pd.DataFrame(lst10)
df10['theme'] = '통신장비'
cols = df10.columns.tolist()
df10 = df10[cols[-1:] + cols[:-1]][0:100]
df10.columns = ['theme','contents']
df10

   theme                                           contents
0   통신장비   미국이 유럽 동맹국을 상대로 중국 국영 보안검색장비 업체인 '뉴텍'을 퇴출 시키려...
1   통신장비  5G 장비 자체 기술 없는 일본, 2030년까지 글로벌 통신사 고객사 확보 포부전문...
2   통신장비  양사는 이번 제휴를 계기로 5G 기지국 및 관련 부품을 공동 개발하고 해외 시장에서...
3   통신장비  수십명의 사망자가 발생한 중국과의 국경 충돌 이후 인도가 중국 통신장비를 금지하는 ...
4   통신장비   삼성전자는 캐나다 주요 이동통신 사업자 텔러스(TELUS)의 5G 통신장비 공급사...
..   ...                                                ...
95  통신장비  서울 서초구 삼성전자 사옥에 사기가 걸려 있다. 연합뉴스삼성전자가 미국 5위 이동통...
96  통신장비   7일(현지시간)) 미국 라스베이거스에서 열린 세계 최대 전자 전시회 'CES 20...
97  통신장비  삼성전자가 뉴질랜드 최대 이동통신사업자 스파크(Spark)와 5G 이동통신장비 공급...
98  통신장비      (도쿄=연합뉴스) 이세원 특파원 = 일본은 전자파로 적의 활동을 무력화하는 ...
99  통신장비  삼성전자는 미국 5위 이동통신 사업자인 ‘US 셀룰러’에 5G, 4G 이동통신 장비...

[100 rows x 2 columns]

In [138]:
#항공기부품
lst11 = []
df11 = pd.read_csv("Data/theme_news_data/항공기부품.txt", sep='\t', header=None, error_bad_lines=False, warn_bad_lines=False, engine='python')
df11 = pd.DataFrame(df11[0]).dropna().drop_duplicates().reset_index(drop=True)[0:250]
df11.columns = ['contents']


for i in range(len(df11)):
    lst11.append(delete_useless(df11.contents[i]))
for i in lst11:
    if len(i) <= 50:
        lst11.remove(i)

df11 = pd.DataFrame(lst11)
df11['theme'] = '항공기부품'
cols = df11.columns.tolist()
df11 = df11[cols[-1:] + cols[:-1]][0:100]
df11.columns = ['theme','contents']
df11

    theme                                           contents
0   항공기부품  항공업 종사 1만명 사천 가보니코로나 탓 항공사 투자 잇단 중단부품 제조 협력업체 ...
1   항공기부품  정부가 자동차 부품 기업 등 중소·중견기업 10곳을 선정해 미래기술 사업 전환을 위...
2   항공기부품    국내 자동차 부품기업 6곳이 수소연료전지차, 전기자동차 부품기업으로 변신한다.산...
3   항공기부품   자동차 부품사인 상아프론테크는 수소연료전지에 들어가는 ‘고분자 전해질막’을 생산하...
4   항공기부품  정부가 내연기관차에서 수소·전기차로 사업을 재편하는 자동차 부품기업 6곳을 뽑아 글...
..    ...                                                ...
95  항공기부품   대한항공은 에어버스 A320 계열 항공기의 날개 부품인 샤크렛(Sharklet)을...
96  항공기부품  대한항공은 20일 에어버스 A320 시리즈 항공기에 들어가는 날개부품인 샤크렛을 에...
97  항공기부품  그간 정부의 다각적인 지원을 받은 국내 항공부품 중소업체가 해외 수출 물꼬를 열 수...
98  항공기부품    대한항공은 에어버스의 A320 시리즈 항공기에 들어가는 날개부품인 샤크렛(Sha...
99  항공기부품  ▲ 자동차 배선 부품 '와이어링 하니스'한국의 소재·부품 수입에서 중국산이 차지하는...

[100 rows x 2 columns]

In [141]:
#이뮨메드
lst12 = []
df12 = pd.read_csv("Data/theme_news_data/이뮨메드.txt", sep='\t', header=None, error_bad_lines=False, warn_bad_lines=False, engine='python')
df12 = pd.DataFrame(df12[0]).dropna().drop_duplicates().reset_index(drop=True)[0:250]
df12.columns = ['contents']


for i in range(len(df12)):
    lst12.append(delete_useless(df12.contents[i]))
for i in lst12:
    if len(i) <= 50:
        lst12.remove(i)

df12 = pd.DataFrame(lst12)
df12['theme'] = '이뮨메드'
cols = df12.columns.tolist()
df12 = df12[cols[-1:] + cols[:-1]][0:100]
df12.columns = ['theme','contents']
df12

   theme                                           contents
0   이뮨메드  이뮨메드는 서울대학교병원과 함께 신종 코로나바이러스 감염증(코로나19) 위중증환자에...
1   이뮨메드  이뮨메드는 서울대학교병원과 함께 신종 코로나바이러스 감염증(코로나19) 위중증환자에...
2   이뮨메드   테마가 강세다. 전일 대비 2.85% 상승세이다. 진매트릭스(109820)+30....
3   이뮨메드  중증환자 7명 중 4명 완치"렘데시비르와 병용시험 추진"국내 바이오벤처 이뮨메드가 ...
4   이뮨메드  이뮨메드 '코로나19 치료제 개발 경과' 기자회견(사진=이뮨메드 제공)바이오기업인 ...
..   ...                                                ...
95  이뮨메드  이뮨메드가 염증성 바이러스질환 치료제 'HzVSF'(VSF)의 신종 코로나바이러스 ...
96  이뮨메드  서울대병원 손잡은 이뮨메드바이러스 억제하는 신약 개발고령의 중증환자에 실제 투약셀트...
97  이뮨메드  의학 전문가들은 이뮨메드의 VSF 관련 코로나19를 치료했다고 보기 어렵다는 의견을...
98  이뮨메드  SV인베스트먼트가 투자한 이뮨메드가 식품의약품안전처로부터 코로나19 치료제 임상시험...
99  이뮨메드  이뮨메드가 VSF가 코로나19치료효과를 보였다고 주장했으나 서울대병원 측은 "VSF...

[100 rows x 2 columns]

In [143]:
#인테리어
lst13 = []
df13 = pd.read_csv("Data/theme_news_data/인테리어.txt", sep='\t', header=None, error_bad_lines=False, warn_bad_lines=False, engine='python')
df13 = pd.DataFrame(df13[0]).dropna().drop_duplicates().reset_index(drop=True)[0:250]
df13.columns = ['contents']


for i in range(len(df13)):
    lst13.append(delete_useless(df13.contents[i]))
for i in lst13:
    if len(i) <= 50:
        lst13.remove(i)

df13 = pd.DataFrame(lst13)
df13['theme'] = '인테리어'
cols = df13.columns.tolist()
df13 = df13[cols[-1:] + cols[:-1]][0:100]
df13.columns = ['theme','contents']
df13

   theme                                           contents
0   인테리어  서울 노원구가 지역 예술가들이 소상공인들의 점포를 꾸미는 '우리동네 아트테리어' 사...
1   인테리어  6.17 대책 여파로 재건축·재개발 등 부동산 규제가 지속될 것으로 예상되자 리모델...
2   인테리어  ① '오늘의집' 이승재 대표     인테리어 분야 최초 1000만 다운로드 기록. ...
3   인테리어  스마트인테리어 포럼이 구축한 테스트베드 내부 모습다양한 스마트 인테리어 기기를 한 ...
4   인테리어  LG하우시스는 리모델링할 때 가전제품과 인테리어를 동시에 바꾸는 고객 수요를 공략하...
..   ...                                                ...
95  인테리어   인테리어 중개 플랫폼 전문기업 집닥이 고객 서비스 다양화를 위한 부분시공 특화 서...
96  인테리어   LG하우시스가 세계 인테리어필름 업계 최초로 유럽섬유제품품질인증 1등급을 받았다....
97  인테리어   코로나19로 '집콕'족(밖에 나가지 않고 집에 머무는 사람들)이 늘어나면서 현대리...
98  인테리어       한샘은 25일 ‘2020 제8회 대한민국마케팅대상’에서 소비자조사부문202...
99  인테리어   집닥은 인테리어 중개 플랫폼 최초로 고객 견적 20만건을 돌파했다고 24일 밝혔다...

[100 rows x 2 columns]

In [146]:
#펭수
lst14 = []
df14 = pd.read_csv("Data/theme_news_data/펭수.txt", sep='\t', header=None, error_bad_lines=False, warn_bad_lines=False, engine='python')
df14 = pd.DataFrame(df14[0]).dropna().drop_duplicates().reset_index(drop=True)[0:250]
df14.columns = ['contents']


for i in range(len(df14)):
    lst14.append(delete_useless(df14.contents[i]))
for i in lst14:
    if len(i) <= 50:
        lst14.remove(i)

df14 = pd.DataFrame(lst14)
df14['theme'] = '펭수'
cols = df14.columns.tolist()
df14 = df14[cols[-1:] + cols[:-1]][0:100]
df14.columns = ['theme','contents']
df14

   theme                                           contents
0     펭수   제주항공은 7월 1일부터 10일까지 회원 대상 할인 이벤트인 'JJ멤버스위크'를 ...
1     펭수  SPC 그룹이 운영하는 베스킨라빈스가 장마철을 맞아 '판촉 굿즈'로 '펭수 우산'을...
2     펭수  SPC 그룹 배스킨라빈스가 여름철을 맞아 '펭수 우산' 프로모션을 진행한다고 24일...
3     펭수  배스킨라빈스는 다가오는 여름을 맞이해 '펭수 우산' 프로모션을 진행한다고 24일 밝...
4     펭수   SPC그룹이 운영하는 배스킨라빈스가 여름을 맞아 '펭수 우산' 프로모션을 진행한다...
..   ...                                                ...
95    펭수   KB국민카드는 크리에이터 '펭수'를 카드 디자인에 담은 'KB국민 펭수 노리 체크...
96    펭수  SPC삼립이 선보인 '펭수빵'이 출시 2주 만에 100만개가 팔려나가며 '펭수 흥행...
97    펭수  KB국민카드는 크리에이터 '펭수'를 카드 디자인에 담은 'KB국민 펭수 노리 체크카...
98    펭수  이마트는 26일부터 인기 펭귄 캐릭터 '펭수'와 협업한 '피코크X펭수' 상품 8종을...
99    펭수  가수 펭수가 데뷔 하루 만에 실시간 차트 상위권을 휩쓸고 있다. EBS 연습생 출신...

[100 rows x 2 columns]

In [148]:
#풍력에너지
lst15 = []
df15 = pd.read_csv("Data/theme_news_data/풍력에너지.txt", sep='\t', header=None, error_bad_lines=False, warn_bad_lines=False, engine='python')
df15 = pd.DataFrame(df15[0]).dropna().drop_duplicates().reset_index(drop=True)[0:250]
df15.columns = ['contents']


for i in range(len(df15)):
    lst15.append(delete_useless(df15.contents[i]))
for i in lst15:
    if len(i) <= 50:
        lst15.remove(i)

df15 = pd.DataFrame(lst15)
df15['theme'] = '풍력에너지'
cols = df15.columns.tolist()
df15 = df15[cols[-1:] + cols[:-1]][0:100]
df15.columns = ['theme','contents']
df15

    theme                                           contents
0   풍력에너지  해남 솔라시도에 국내 최대 태양광발전소 단지 준공㈜한양이 한국남부발전, KB자산운용...
1   풍력에너지  대림에너지는 최근 한국신용평가가 부여한 신용등급이 ‘A-‘에서 ‘A’로 한단계 상향...
2   풍력에너지  대림에너지는 한국신용평가 신용등급이 ‘A-‘에서 ‘A’로 한단계 상향됐다고 29일 ...
3   풍력에너지  자회사 및 해외 발전 프로젝트 실적 개선대림에너지는 최근 한국신용평가에서 부여한 신...
4   풍력에너지   대림그룹 대림에너지는 최근 한국신용평가에서 부여한 신용등급이 기존 'A-'에서 '...
..    ...                                                ...
95  풍력에너지  LS전선은 대만 해상풍력단지용 해저 케이블의 첫 출하를 시작했다고 10일 밝혔다. ...
96  풍력에너지  울산시청 (사진=자료사진)울산시는 국내외 기업‧기관 19곳과 '부유식 해상풍력산업 ...
97  풍력에너지  일본 나가사키현 고토시 앞바다에 설치된 2㎿규모 부유식 해상풍력발전 시설. 울산시는...
98  풍력에너지  공동연구 및 정보 교류GIG, CIP, 에퀴노르 등 해외 전문기업도 참여 울산시가 ...
99  풍력에너지  LS전선이 대만 해상풍력단지용 해저 케이블의 첫 출하를 시작했습니다.LS전선은 지난...

[100 rows x 2 columns]

In [150]:
#풍력에너지
lst16 = []
df16 = pd.read_csv("Data/theme_news_data/휴대폰부품.txt", sep='\t', header=None, error_bad_lines=False, warn_bad_lines=False, engine='python')
df16 = pd.DataFrame(df16[0]).dropna().drop_duplicates().reset_index(drop=True)[0:250]
df16.columns = ['contents']


for i in range(len(df16)):
    lst16.append(delete_useless(df16.contents[i]))
for i in lst16:
    if len(i) <= 50:
        lst16.remove(i)

df16 = pd.DataFrame(lst16)
df16['theme'] = '풍력에너지'
cols = df16.columns.tolist()
df16 = df16[cols[-1:] + cols[:-1]][0:100]
df16.columns = ['theme','contents']
df16

    theme                                           contents
0   풍력에너지   삼성전자가 화웨이에게 내줬던 글로벌 휴대폰 시장 1위 자리를 탈환했다. 다만 2위...
1   풍력에너지  카운터포인트 "삼성 주력 시장 美⋅유럽 코로나 충격 완화 덕분"화웨이 스마트폰 시장...
2   풍력에너지   삼성전자가 지난 5월 휴대폰 시장 점유율 1위 자리를 다시 차지했다. 지난달 화웨...
3   풍력에너지  삼성·화웨이, 휴대폰·스마트폰 시장 점유율 0.1%P 差 '박빙'(지디넷코리아=황정...
4   풍력에너지   휴대폰 부품사 A사는 올 초 베트남 신규 공장에 200억원 규모 투자를 했다. 생...
..    ...                                                ...
95  풍력에너지  KT가 갤럭시S20, 갤럭시노트10, 갤럭시 Z플립 등 다양한 갤럭시 시리즈 사용자...
96  풍력에너지  LG그룹 계열사들이 베트남 정부의 특별 예외 조치를 받고 엔지니어 250여명을 전세...
97  풍력에너지   국내 공영동물원 복지 실태 콘크리트 바닥과 비좁은 사육장…“감금하고 지배하는 19...
98  풍력에너지   [(상보)베트남 자국 교포조차 입국금지…삼성·LG는 '경제 기여도' 인정한 셈 ]...
99  풍력에너지      20일 현지 언론과 소식통에 따르면 삼성디스플레이 직원 294명이 지난 17...

[100 rows x 2 columns]

In [153]:
temp = pd.concat([df,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12,df13,df14,df15,df16]).sort_values(by='theme').reset_index(drop=True)
temp

      theme                                           contents
0      2차전지  한국무역보험공사(K-SURE)는 27일 이인호 무역보험공사 사장이 신종 코로나바이러...
1      2차전지  중후장대 산업株는 밀려나국내 증시의 시가총액 지형도가 신종 코로나바이러스 감염증(코...
2      2차전지   엠케이전자는 '2차전지용 음극활물질 및 그 제조방법' 관련 미국 특허를 취득했다고...
3      2차전지  수익률 25%…올해만 800억원 자본 유입미래에셋자산운용은 국내 2차 전지 관련 기...
4      2차전지  전경련이 11개 증권사 리서치센터장들을 대상으로 15대 품목에 대한 수출 전망을 조...
...     ...                                                ...
27593   희토류   국내 연구진이 두더지를 모방해 희토류 등이 매설된 지역을 찾는 지하 탐사용 로봇을...
27594   희토류  KAIST, 생물학 구조·습성 모방한 '몰봇' 개발무인 지하탐사·우주행성 표본 채취...
27595   희토류   테마가 강세다. 전일 대비 2.55% 상승세이다. 혜인(003010)+10.25%...
27596   희토류  희토류는 세계적으로 매장량이 적고 구하기가 어려운 희귀금속을 일컫는다.    EV의...
27597   희토류   테마가 강세다. 전일 대비 2.66% 상승세이다. 유니온머티리얼(047400)+1...

[27598 rows x 2 columns]

# 부족한 데이터 추가

In [182]:
grouped = temp.groupby('theme', as_index=False).count()
grouped

     theme  contents
0     2차전지       100
1    3D프린터       100
2      4대강       100
3       5G       100
4       AR       100
..     ...       ...
271    홈쇼핑       100
272    화장품       100
273   화학섬유        11
274    흑사병       100
275    희토류       100

[276 rows x 2 columns]

In [192]:
#100개가 안되는 리스트
hund_to_remove = []
not_hund = np.where(temp.groupby('theme').count() != 100)
for i in range(len(not_hund[0])):
    hund_to_remove.append(grouped['theme'][not_hund[0][i]])
hund_to_remove

['LBS',
 '건설기계',
 '김빛내리',
 '램데시비르',
 '알벤다졸',
 '에칭가스',
 '제4이동통신',
 '지능형전력망',
 '창투사',
 '파이프',
 '풍력에너지',
 '한타바이러스',
 '화학섬유']

In [195]:
for i in tqdm(range(len(temp))):
    if temp.theme[i] in hund_to_remove:
        temp = temp.drop(index=i)

temp = temp.reset_index(drop=True)

100%|██████████| 27598/27598 [00:04<00:00, 6645.42it/s]

In [208]:
#건설기계
lst17 = []
df17 = pd.read_csv("Data/theme_news_data/건설기계.txt", sep='\t', header=None, error_bad_lines=False, warn_bad_lines=False, engine='python')
df17 = pd.DataFrame(df17[3]).dropna().drop_duplicates().reset_index(drop=True)[0:300]
df17.columns = ['contents']


for i in range(len(df17)):
    lst17.append(delete_useless(df17.contents[i]))
for i in lst17:
    if len(i) <= 50:
        lst17.remove(i)

df17 = pd.DataFrame(lst17)
df17['theme'] = '건설기계'
cols = df17.columns.tolist()
df17 = df17[cols[-1:] + cols[:-1]][0:100]
df17.columns = ['theme','contents']
df17

   theme                                           contents
0   건설기계  [헤럴드경제=신주희 기자] 타워크레인 설치 작업 중 근로자가 추락해 사망하거나 제작...
1   건설기계  누계 판매도 전년 상회…고객 밀착형 서비스 ‘두산케어’ 성과ⓒ두산인프라코어두산인프라...
2   건설기계   두산인프라코어(042670)는 현지 밀착형 서비스 강화 등을 통해 지난 5월 한 ...
3   건설기계  두산인프라코어는 지난 5월 한달 동안 중국 굴착기 시장에서 현지 진출 해외기업(MN...
4   건설기계  두산인프라코어는 지난 5월 중국 굴착기 시장에서 현지 진출 해외기업(MNC) 가운데...
..   ...                                                ...
95  건설기계   10일 오후 3시 5분께 인천시 중구 서울방향 영종대교 구간에 건설 기계가 넘어져...
96  건설기계   건설기계 업계 CEO들이 27일 서울 무역보험공사 대회의실에서 열린 성윤모 산업부...
97  건설기계   성윤모(가운데) 산업통상자원부 장관이 27일 서울 무역보험공사 대회의실에서 열린 ...
98  건설기계  정부가 코로나19로 어려움을 겪는 화물차·건설기계 운수업자에 대한 지원에 나선다.5...
99  건설기계    성윤모 산업통상자원부 장관이 6일 오전 서울 중구 대한상공회의소에서 열린 포스트...

[100 rows x 2 columns]

In [231]:
#파이프
lst18 = []
df18 = pd.read_csv("Data/theme_news_data/파이프.txt", sep='\t', header=None, error_bad_lines=False, warn_bad_lines=False, engine='python')
df18 = pd.DataFrame(df18[3]).dropna().drop_duplicates().reset_index(drop=True)[0:300]
df18.columns = ['contents']
df18


for i in range(len(df18)):
    lst18.append(delete_useless(df18.contents[i]))
for i in lst18:
    if len(i) <= 50:
        lst18.remove(i)

df18 = pd.DataFrame(lst18)
df18['theme'] = '파이프'
cols = df18.columns.tolist()
df18 = df18[cols[-1:] + cols[:-1]][0:100]
df18.columns = ['theme','contents']
df18

   theme                                           contents
0    파이프  한국 기하추상의 발전을 이끈 '파이프 화가' 이승조(1941~1990) 30주기 회...
1    파이프  스노우파이프(대표 김정익)는 모바일게임 ‘피구왕통키M’에 레이드를 추가하고 첫 오리...
2    파이프         22일 중국 베이징의 외교부에서 열린 기자회견에서 “인도와의 국경 충돌...
3    파이프  국내 유일 파이프오르간 장인 홍성훈 집사국내 유일의 파이프오르간 장인 홍성훈 집사가...
4    파이프  [아시아경제 박병희 기자] "피아노가 친밀한 친구라면 오르간은 신기한 친구죠."피아...
..   ...                                                ...
95   파이프  [아시아경제 박병희 기자] 파란 사과와 중절모, 파이프, 우산, 지팡이. 벨기에의 ...
96   파이프  해외 주요 스타트업과 기관에서 사용성 및 효율성 인정받은 서비스 국내 도입전국 모든...
97   파이프  둔기를 사용해 6촌 동생의 머리를 때린 50대 남성이 징역형을 선고받았다.6일 인천...
98   파이프  생계비 지원 금액에 불만을 품은 기초생활수급자가 구청 담당 공무원을 쇠파이프로 내려...
99   파이프   기초생활수급비가 삭감된 것에 불만을 품고 공무원을 공격한 A(63) 씨가 징역 2...

[100 rows x 2 columns]

In [242]:
#화학섬유
lst19 = []
df19 = pd.read_csv("Data/theme_news_data/화학섬유.txt", sep='\t', header=None, error_bad_lines=False, warn_bad_lines=False, engine='python')
df19 = pd.DataFrame(df19[0]).dropna().drop_duplicates().reset_index(drop=True)[0:300]
df19.columns = ['contents']

for i in range(len(df19)):
    lst19.append(delete_useless(df19.contents[i]))
for i in lst19:
    if len(i) <= 50:
        lst19.remove(i)

df19 = pd.DataFrame(lst19)
df19['theme'] = '화학섬유'
cols = df19.columns.tolist()
df19 = df19[cols[-1:] + cols[:-1]][0:100]
df19.columns = ['theme','contents']
df19

   theme                                           contents
0   화학섬유                          여수산단 화학공장서 폭발 사고…인명 피해 없어
1   화학섬유                    여수산단 삼남석유화학 공장에서 화재사고...인명피해 없어
2   화학섬유                     여수 삼남석유화학 폭발사고…소방당국, 대응 2단계 발령
3   화학섬유                                     여수산단내 화학공장서 화재
4   화학섬유                         라이벌과의 악수… 롯데케미칼-한화화학 업무 협약
..   ...                                                ...
95  화학섬유                 “장난감, 소독 말고 씻으세요” 코로나19 예방 올바른 소독법
96  화학섬유  오후 2:30 현재 코스피는 46:54으로 매수우위, 매수강세 업종은 섬유의복업(1...
97  화학섬유                          휴비스, 수익성 '파란불'…마스크 소재가 효자
98  화학섬유             美경재활동 봉쇄 강화 우려에 코스피, 1%대 하락 출발 `2130선`
99  화학섬유            정부 "車·반도체·가전·화학제품·기계장비·섬유 수급차질 상시점검·관리"

[100 rows x 2 columns]

In [245]:
temp2 = pd.concat([temp,df16,df17,df18,df19]).sort_values(by='theme').reset_index(drop=True)
temp2

      theme                                           contents
0      2차전지  한국무역보험공사(K-SURE)는 27일 이인호 무역보험공사 사장이 신종 코로나바이러...
1      2차전지   코스피 상장사 이엔플러스가 2차전지 효율을 극대화할 수 있는 '액상 그래핀' 개발...
2      2차전지   이엔플러스(074610)가 2차전지 효율을 극대화할 수 있는 액상 그래핀을 개발해...
3      2차전지   [[특징주]]이엔플러스가 세계 최초로 2차전지 효율을 극대화할 수 있는 액상 그래...
4      2차전지   2차전지 성장세로 관련 기업들이 함박웃음을 짓고 있다. 국내 배터리 3사의 연이은...
...     ...                                                ...
26695   희토류  (지디넷코리아=양태훈  기자)한국과 중국의 전문가들이 희토류 소재 분야에서 기술 협...
26696   희토류   테마가 강세다. 전일 대비 2.45% 상승세이다. 유니온머티리얼(047400)+7...
26697   희토류   미중 무역분쟁 갈등이 고조되고 희토류 관련주들이 강세를 보이고 있는 가운데 상보,...
26698   희토류   테마가 강세다. 전일 대비 2.31% 상승세이다. 티플랙스(081150)+7.39...
26699   희토류  희토류는 세계적으로 매장량이 적고 구하기가 어려운 희귀금속을 일컫는다.    EV의...

[26700 rows x 2 columns]

In [246]:
temp2.to_csv("theme_contents_final.csv")