In [4]:
import pandas as pd
import numpy as np
import re
from tqdm import tqdm

In [5]:
df = pd.read_csv("Data/news_data/final_data.csv", index_col=0)
df.head(10)

,title,contents
0,"[특징주]""고마워요, 법무부 장관님""...'윤석열 테마주' 초강세",‘윤석열 테마주’로 알려진 서연(007860)이 강세다. 이날 오후 1시 34분 기...
1,"‘방탄소년단 테마주’ 모두 하락, 엔터테인먼트3사는 YG만 올라",'방탄소년단 테마주'로 묶이는 회사 주가가 모두 내렸다. 25일 키이스트 주가는 전...
2,주가 뜬 테마주 매도한 내부자들...하락 몫은 개인투자자,테마주로 엮이면서 주가가 급등한 상장사의 최대주주나 특수관계인들이 지분을 팔아치우는...
3,'수소트럭' 美니콜라 주가 급등···국내 수소테마주도 '고공행진',두산퓨얼셀이나 에스퓨얼셀 등 연료전지 업체는 물론 니콜라에 투자한 한화그룹까지 '수...
4,테마주 취급받는 우선주…'폭탄 돌리기' 현재진행형,일부 우선주가 급등 이후 급락을 반복하는 롤러코스터를 타는 가운데 시장에서는 '우선...
5,"'코로나19 테마주' 한국유나이티드제약, 종식 위한 사회적노력 '역행' 논란","한편, 한국유나이티드제약은 이른바 '코로나19 테마주' 중 하나로 꼽힌다. 코로나1..."
6,가전·맥주·빙과…여름 테마주 웃을까,올 여름철 역대급 무더위가 찾아올 것으로 예상되면서 관련주들이 주목받고 있다. 24...
7,"'방탄소년단 테마주' 대부분 올라, 엔터테인먼트3사는 JYP 빼고 상승",'방탄소년단 테마주'로 묶이는 회사 주가가 대부분 올랐다. 23일 초록뱀미디어 주가...
8,쌍방울·남영비비안 마스크 허위 계약 논란...일방적 계약 파기 VS 일시적 주...,당시 주가를 살펴보면 마스크 테마주에 편입된 남영비비안은 28일 전 거래일 종가 대...
9,"[특징주] '이낙연 테마주' 남선알미늄, 2.42% 상승",알루미늄 등 비철금속을 제조·판매하는 남선알미늄은 계열 관계인 SM그룹 삼환기업 전...

In [6]:
kospi = pd.read_csv("Data/stock_data/kospi.csv", index_col=0, encoding='cp949')
kosdaq = pd.read_csv("Data/stock_data/kosdaq.csv", index_col=0, encoding='cp949')

In [7]:
company_list = pd.concat([kospi[['종목코드', '기업명']], kosdaq[['종목코드', '기업명']]], axis=0)
company_list = company_list.sort_values('기업명').reset_index().drop(columns='번호')
company_list.head(5)

     종목코드     기업명
0   60310      3S
1   95570  AJ네트웍스
2    6840   AK홀딩스
3   54620  APS홀딩스
4  265520   AP시스템

In [8]:
# df = pd.read_csv("Data/news_data/final_data.csv", index_col=0)
# test = df[0:20]
# test.head(5)

In [9]:
#이상한 기호들 지우기

for i in tqdm(range(len(df))):
    #title
    df['title'][i] = df['title'][i].replace("["," ")
    df['title'][i] = df['title'][i].replace("]"," ")
    df['title'][i] = df['title'][i].replace("‘"," ")
    df['title'][i] = df['title'][i].replace("’"," ")
    df['title'][i] = df['title'][i].replace('"',' ')
    df['title'][i] = df['title'][i].replace("'"," ")
    df['title'][i] = df['title'][i].replace("·"," ")
    df['title'][i] = df['title'][i].replace(","," ")
    df['title'][i] = df['title'][i].replace("…"," ")
    df['title'][i] = df['title'][i].replace("?"," ")
    df['title'][i] = df['title'][i].replace("!"," ")
    df['title'][i] = df['title'][i].replace("."," ")
    df['title'][i] = df['title'][i].replace("("," ")
    df['title'][i] = df['title'][i].replace(")"," ")
    #contents
    df['contents'][i] = df['contents'][i].replace("["," ")
    df['contents'][i] = df['contents'][i].replace("]"," ")
    df['contents'][i] = df['contents'][i].replace("‘"," ")
    df['contents'][i] = df['contents'][i].replace("’"," ")
    df['contents'][i] = df['contents'][i].replace('"',' ')
    df['contents'][i] = df['contents'][i].replace("'"," ")
    df['contents'][i] = df['contents'][i].replace("·"," ")
    df['contents'][i] = df['contents'][i].replace(","," ")
    df['contents'][i] = df['contents'][i].replace("…"," ")
    df['contents'][i] = df['contents'][i].replace("?"," ")
    df['contents'][i] = df['contents'][i].replace("!"," ")
    df['contents'][i] = df['contents'][i].replace("."," ")
    df['contents'][i] = df['contents'][i].replace("("," ")
    df['contents'][i] = df['contents'][i].replace(")"," ")

100%|██████████| 60430/60430 [15:34<00:00, 64.69it/s]

In [10]:
#띄어쓰기 기준으로 쪼개서 리스트화 
for i in tqdm(range(len(df))):
    df['title'][i] = df['title'][i].split(" ")
    df['contents'][i] = df['contents'][i].split(" ")

100%|██████████| 60430/60430 [01:22<00:00, 731.02it/s]

In [11]:
helping = ('은','는','이','가','을','를','의','에','로','과','와','도','만','나','께')
for i in tqdm(range(len(df))):
    for j in range(len(df['title'][i])):
        if df['title'][i][j].endswith(helping):
            df['title'][i][j] = df['title'][i][j].replace((df['title'][i][j][-1]),"")
    for k in range(len(df['contents'][i])):
        if df['contents'][i][k].endswith(helping):
            df['contents'][i][k] = df['contents'][i][k].replace((df['contents'][i][k][-1]),"")

100%|██████████| 60430/60430 [01:00<00:00, 991.38it/s]

In [12]:
#길이가 1짜리는 보통 쓸모 없으니 제거
for i in tqdm(range(len(df))):
    for j in range(len(df['title'][i])-1,0,-1):
        if len(df['title'][i][j]) == 1:
            df['title'][i].remove(df['title'][i][j])
    for k in range(len(df['contents'][i])-1,0,-1):
        if len(df['contents'][i][k]) == 1:
            df['contents'][i].remove(df['contents'][i][k])

100%|██████████| 60430/60430 [00:41<00:00, 1459.20it/s]

In [13]:
#빈 string은 제거
for i in tqdm(range(len(df))):
    while("" in df['title'][i]): 
        df['title'][i].remove("") 
    while("" in df['contents'][i]):
        df['contents'][i].remove("")

100%|██████████| 60430/60430 [00:18<00:00, 3304.51it/s]

In [14]:
df

,title,contents
0,"[특징주, 고마워요, 법무부, 장관님, 윤석열, 테마주, 초강세]","[윤석열, 테마주, 알려진, 서연, 007860, 강세다, 이날, 오후, 1시, 3..."
1,"[방탄소년단, 테마주, 모두, 하락, 엔터테인먼트3사, YG, 올라]","[방탄소년단, 테마주, 묶이, 회사, 모두, 내렸다, 25일, 키이스트, 주가, 전..."
2,"[주, 테마주, 매도한, 내부자들, 하락, 개인투자자]","[테마주, 엮이면서, 급등한, 상장사, 최대주주, 특수관계인들, 지분, 팔아치우, ..."
3,"[수소트럭, 美니콜라, 급등, 국내, 수소테마주, 고공행진]","[두산퓨얼셀이, 에스퓨얼셀, 등 연료전지, 업체는 물론 니콜라, 투자한, 한화그룹까..."
4,"[테마주, 취급받, 우선주, 폭탄, 돌리기, 현재진행형]","[일부, 우선주, 급등, 이후, 급락을 반복하, 롤러코스터, 타는 가운데, 시장에서..."
...,...,...
60425,"[시황_장마감, 코스피, 2108, 73p, 상승, ▲12, 71p, +0, 61%...","[60%, 관련주, 테마, 상승, 띄었으며, 바이오시밀러, -5, 83%, 자전거,..."
60426,"[상아프론테크, 실적, 안정성, 배터리주, 매수, -유진투자]","[이투데이=조남호, 기자, 유진투자증권, 26일, 상아프론테크, 대해, 배터리, 관..."
60427,"[“내주, 코스피, 2120~2170선, 전망”-하나금융투자]","[김, 연구원, “2분기, 2019년, 전체, 실적, 모멘텀, 주가, 밸류, 여건,..."
60428,"[오늘, 투자전략, 코스피, 미중, 무역분쟁, 휴전, 호재, 북한관련주]","[특히, 30일, 극적으, 진행된, 남북미, 정상, 만남, 이후, 대북, 관련주, ..."
60429,"[주간, 코스피, 코스닥, 6월, LBS관련주, 테마, 주간, 리포트, 한양디지텍,...","[6월, 5주차, LBS관련주, 테마, 주간, 보고서지난, 일주일, LBS관련주, ..."

In [15]:
#테마주 전 단어를 추출하고, 없으면 빈공간으로 변경
for i in tqdm(range(len(df))):
    for j in range(len(df['title'][i])):
        if df['title'][i][j] == "테마주" or df['title'][i][j] == "테마" or df['title'][i][j] == "관련주" or df['title'][i][j] == "관련":
            a = df['title'][i][j-1]
        
    df['title'][i] = a
    a = " "

100%|██████████| 60430/60430 [00:55<00:00, 1081.70it/s]

In [16]:
company_in_one = []
for i in company_list['기업명']:
    company_in_one.append(i)

In [17]:
#테마주 전 단어를 추출하고, 없으면 빈공간으로 변경
b = []
for i in tqdm(range(len(df))):
    for j in range(len(df['contents'][i])):
        if df['contents'][i][j] in company_in_one:
            b.append(df['contents'][i][j])
    
    df['contents'][i] = b
    b = []

100%|██████████| 60430/60430 [01:35<00:00, 629.85it/s]

In [18]:
#리스트 중복값 제거
for i in tqdm(range(len(df))):
    df['contents'][i] = list(set(df['contents'][i]))

100%|██████████| 60430/60430 [00:31<00:00, 1900.56it/s]

In [19]:
#title 빈 공간 제거
for i in tqdm(range(len(df)-1,0,-1)):
    if df['title'][i] == " ":
        df = df.drop(i)
        df = df.reset_index()
        df = df[['title','contents']]

100%|██████████| 60429/60429 [04:51<00:00, 207.50it/s]

In [20]:
#contents 빈공간 제거
for i in tqdm(range(len(df)-1,0,-1)):
    if len(df['contents'][i]) == 0:
        df = df.drop(i)
        df = df.reset_index()
        df = df[['title','contents']]

100%|██████████| 34372/34372 [00:48<00:00, 715.74it/s]

In [21]:
df

         title                    contents
0          윤석열                        [서연]
1        방탄소년단                      [키이스트]
2           여름                    [롯데하이마트]
3          이낙연                     [남선알미늄]
4        방탄소년단                       [넷마블]
...        ...                         ...
28929     남북경협                      [현대로템]
28930  이낙연-황교안  [이월드, 이엑스티, 세동, 인터엠, 성문전자]
28931       조국                      [화천기계]
28932   LBS관련주                     [한양디지텍]
28933   LBS관련주                     [한양디지텍]

[28934 rows x 2 columns]

In [23]:
df.to_csv("new_data_preprocessed.csv")