In [1]:
import pandas as pd
from tqdm import tqdm
import numpy as np
#from konlpy.tag import mecab
from gensim.models import Word2Vec
from scipy.spatial import distance
from gluonnlp.data import SentencepieceTokenizer
from kobert.utils import get_tokenizer
from bs4 import BeautifulSoup as bs
from urllib.request import urlopen
from urllib.parse import quote
import requests
import json
import matplotlib.pyplot as plt
%matplotlib inline
import re
import datetime
from datetime import timedelta

In [2]:
kospi = pd.read_csv("../Data/stock_data/kospi.csv", encoding='cp949')
kosdaq = pd.read_csv("../Data/stock_data/kosdaq.csv", encoding='cp949')

# Load Trained Model

In [21]:
theme_vectors_df = pd.read_csv('theme_vectors_xnorm.csv',index_col=0)

In [22]:
theme_vectors_df

    themes                                            vectors
0     2차전지  [-7096.778220521286, 12871.226797353534, 2587....
1    3D프린터  [10903.843000196677, 18503.521148866625, -3156...
2      4대강  [-8006.077763321286, 7393.415823798161, -24043...
3       5G  [-4483.314872191055, 15860.959652718622, 10811...
4       AR  [4912.215373729239, 17996.481813186198, 649.44...
..     ...                                                ...
163    홈쇼핑  [4915.875856377708, 19768.735261143476, 9870.9...
164    화장품  [13174.82111047738, 23243.34641307546, -2646.9...
165   화학섬유  [-559.1177835975541, 101.75459718890488, -64.1...
166    흑사병  [4110.702740065346, 16790.248373064678, -30731...
167    희토류  [741.8126079159556, 21216.472032813355, -2010....

[168 rows x 2 columns]

In [23]:
theme_vectors_df['vectors'] = theme_vectors_df['vectors'].apply(lambda x: eval(x))

In [24]:
theme_vectors_df['vectors'] = theme_vectors_df['vectors'].apply(lambda x: np.array(x))

# Fit Today News

### Input

In [25]:
real_test = pd.read_csv("../Data/data_for_use/20200629_news_data.csv",index_col=0)
test_date = '2020-06-29'
real_test

                                                    news
0      통신사 관계 없이 이용 가능 24개월 인수형 장기렌탈 서울 뉴시스 오동현 기자 KT...
1      20년 된 전자금융거래법 정비돼야 전자금융 모든 거래 총괄하게 되면 내년 비대면 상...
2      구내식당 모바일스루 서비스…7월 3곳 시범 적용 서울 뉴시스 오동현 기자 모바일 전...
3      소니가 프리미엄 디지털카메라로 분류한 RX100 제품군은 등장 초기에는 존재감이 분...
4      법원 행정처분 집행 정지 인용 지디넷코리아 손예술 기자 법원이 하나금융지주 함영주 ...
...                                                  ...
19938  SNS에 부동산정책 실패 강력 비판 “참모로부터 잘못된 신화 학습 큰일 진보 경제학...
19939  김선혁 교수 한국정치 혁신 촉구 인류 대 바이러스 절체절명 위기 정파간 갈등·대립 ...
19940  4·15 총선서 이미 SNS 유세 등장 합당 온라인투표 공천 화상면접도 돈·조직 기...
19941  여야 합의점 못 찾았지만 29일 오전 10시 다시 회동 법사위 절충안 마련 등 주목...
19942  전날 협상서 의견 접근…법사위원장 절충 가능성 손잡은 국회의장과 여야 원내대표 서울...

[19943 rows x 1 columns]

In [26]:
tok_path = get_tokenizer()
sp  = SentencepieceTokenizer(tok_path)
#stop_words = ['으로', '로도', '지만', '에서', '려는', '하다', '은', '는', '이', '가', '을', '를', '수', '할']
v_dimension = 300
v_window = 8
model = Word2Vec.load('word2vec.model')

using cached model

In [27]:
# news vectors without normalization

def vectorize_without_normal(news):
    news_words = news.replace("[^ㄱ-ㅎㅏ-ㅣ가-힣 ]","")
    token = sp(news)
    final_tokens = token
    init_v = np.array([0.0]*v_dimension)
    for word in final_tokens:
        word_vectors = model.wv
        if word in word_vectors.vocab:
            v = model.wv[word]
            init_v = init_v + v
    return init_v

In [31]:
# test

def test(news):
    news_vec = vectorize_without_normal(news)
    result = []
    for theme in theme_vectors_df['vectors']:
        cosine = 1 - distance.cosine(theme, news_vec)
        result.append(cosine)
    new_df = pd.DataFrame(data=np.zeros([168,2]), columns=['Theme', 'Result'])
    new_df['Theme'] = theme_vectors_df['themes']
    new_df['Result'] = result

    new_df.sort_values('Result', ascending=False, inplace=True)
    return new_df

In [32]:
lst = []
lst2 = []
for i in tqdm(range(len(real_test))):
    a = real_test['news'][i]
    result = test(a)
    result = result.sort_values(by='Result', ascending=False).reset_index(drop=True)
    theme = result['Theme'][0]
    cosine = result['Result'][0]
    lst.append(theme)
    lst2.append(cosine)

100%|██████████| 19943/19943 [02:53<00:00, 114.91it/s]

In [33]:
df = pd.DataFrame(list(zip(lst, lst2)), columns =['Theme', 'Similarity']) 
df = pd.concat([real_test,df],axis=1)

In [36]:
df

                                                    news   Theme  Similarity
0      통신사 관계 없이 이용 가능 24개월 인수형 장기렌탈 서울 뉴시스 오동현 기자 KT...      AR    0.856664
1      20년 된 전자금융거래법 정비돼야 전자금융 모든 거래 총괄하게 되면 내년 비대면 상...     OTT    0.786597
2      구내식당 모바일스루 서비스…7월 3곳 시범 적용 서울 뉴시스 오동현 기자 모바일 전...     NFC    0.794179
3      소니가 프리미엄 디지털카메라로 분류한 RX100 제품군은 등장 초기에는 존재감이 분...  무선충전기술    0.790840
4      법원 행정처분 집행 정지 인용 지디넷코리아 손예술 기자 법원이 하나금융지주 함영주 ...      한진    0.693844
...                                                  ...     ...         ...
19938  SNS에 부동산정책 실패 강력 비판 “참모로부터 잘못된 신화 학습 큰일 진보 경제학...      반일    0.760642
19939  김선혁 교수 한국정치 혁신 촉구 인류 대 바이러스 절체절명 위기 정파간 갈등·대립 ...     흑사병    0.765602
19940  4·15 총선서 이미 SNS 유세 등장 합당 온라인투표 공천 화상면접도 돈·조직 기...     4대강    0.768097
19941  여야 합의점 못 찾았지만 29일 오전 10시 다시 회동 법사위 절충안 마련 등 주목...     신공항    0.749384
19942  전날 협상서 의견 접근…법사위원장 절충 가능성 손잡은 국회의장과 여야 원내대표 서울...     신공항    0.767652

[19943 rows x 3 columns]

In [55]:
standard = 0.90
df_filtered = df[df['Similarity']>=standard].reset_index(drop=True)
df_filtered = df_filtered[['Theme','news']]
df_filtered

      Theme                                               news
0    스마트그리드  과기정통부 2개 사업단 신규 지정으로 학연 협력사업 확대 아이뉴스24 최상국 기자 ...
1       그래핀  재료연 한동대 연구팀 금속 반도체 융합 적층제조 기술 개발 아이뉴스24 최상국 기자...
2       Z플립  8월 말 갤노트20부터 순차 출시…갤폴드라이트 연내 출시는 불투명 지디넷코리아 황정...
3      블록체인  블록체인 기반의 여러 가상자산 지갑 서비스가 속속 등장하고 있다. 지갑 서비스는 복...
4    공공와이파이  와이파이6 중심 공공와이파이 확충사업을 진행하는 서울시가 공공와이파이 시민 모니터링...
..      ...                                                ...
308      방역  정은경 중앙방역대책본부장 해외 유입으로 12명의 신규 확진자가 발생하여 총 누적 확...
309     건설사  취임사로 돌아본 이재명호 2년 공정·평화·복지 내세워 차별화된 정책 펼쳐 오마이뉴스...
310    개성공단  도쿄 연합뉴스 박세진 특파원 일본 우익 성향 매체인 산케이신문은 북한이 군사 충돌로...
311      반일  조 교수 집안도 비난 조기숙 전 청와대 홍보수석. 연합뉴스 조선일보 DB 일부 친문...
312    인공지능  지난해 3월 27일 울산항 일반부두에서 열린 해상 선용품 드론 운송체계 시스템 구축...

[313 rows x 2 columns]

In [79]:
df_final = df_filtered.groupby('Theme', as_index=False).count().sort_values(by='news',ascending=False)
df_final = df_final[(df_final['news']>3) & (df_final['news']<10)].reset_index(drop=True)
df_final

     Theme  news
0    전기자전거     7
1    온라인교육     6
2      그래핀     6
3      건설사     6
4      MRO     5
5     이뮨메드     5
6       건설     5
7   엔터테인먼트     4
8     QR코드     4
9       리츠     4
10  바이오시밀러     4
11  방사광가속기     4
12      농업     4

# Make Portfolio

In [57]:
def target_company(themes):
    company_list=themes[themes['Theme']==them]['Company'].iloc[0]
    company_list=str(company_list).replace('[','').replace(']','').replace("\'",'').replace(' ', '').split(',')
    
    return company_list

In [58]:
def date_convert(date):
    end_date = date
    
    def date_by_deducting_business_days(from_date):
        business_days_to_deduct = 6
        current_date = from_date
        while business_days_to_deduct > 0:
            current_date += datetime.timedelta(days=-1)
            weekday = current_date.weekday()
            if weekday >= 5: # sunday = 6
                continue
            business_days_to_deduct -= 1
        return current_date

    convert_end_date = datetime.datetime.strptime(date,'%Y-%m-%d').date()
    start_date=datetime.date.strftime(date_by_deducting_business_days(convert_end_date),'%Y-%m-%d')
    
    return start_date, end_date

In [59]:
def date_format(d):
    d = str(d).replace('-', '.')
    yyyy = int(d.split('.')[0])
    mm = int(d.split('.')[1])
    dd = int(d.split('.')[2])
    
    this_date = dt.date(yyyy, mm, dd)
    return this_date

In [60]:
def date_format(d=''):
    if d != '':
        this_date = pd.to_datetime(d).date()
    else:
        this_date = pd.Timestamp.today().date()
    return (this_date)

In [61]:
def stock_info(stock_cd):
    url_float = 'http://companyinfo.stock.naver.com/v1/company/c1010001.aspx?cmp_cd=' + stock_cd
    source = urlopen(url_float).read()
    soup = bs(source, 'lxml')
    
    tmp = soup.find(id='cTB11').find_all('tr')[6].td.text
    tmp = tmp.replace('\r', '').replace('\n','').replace('\t','')
    tmp = re.split('/', tmp)
                   
    outstanding = tmp[0].replace(',','').replace('주','').replace(' ','')
    outstanding = int(outstanding)
                   
    floating = tmp[1].replace(' ','').replace('%','')
    floating = float(floating)
                   
    name = soup.find(id='pArea').find('div').find('div').find('tr').find('td').find('span').text
    
    stock_outstanding[stock_cd] = outstanding
    stock_floating[stock_cd] = floating
    stock_name[stock_cd] = name

In [62]:
def historical_index_naver(index_cd, start_date='', end_date='', page_n=1, last_page=0):
    
    if start_date:
        start_date = date_format(start_date)
    else:
        start_date = dt.date.today()
    if end_date:
        end_date = date_format(end_date)+datetime.timedelta(days=-1)
    else:
        end_date = dt.date.today()
    
    naver_index = 'http://finance.naver.com/sise/sise_index_day.nhn?code=' + index_cd + '&page=' + str(page_n)
    
    source = urlopen(naver_index).read()
    source = bs(source, 'lxml')
    
    dates = source.find_all('td', class_='date')
    prices = source.find_all('td', class_='number_1')
    
    for n in range(len(dates)):
        if dates[n].text.split('.')[0].isdigit():
            
            # Handling date
            this_date = dates[n].text
            this_date = date_format(this_date)
            
            if this_date <= end_date and this_date >= start_date:
                
                # Handling closing price
                this_close = prices[n*4].text
                this_close = this_close.replace(',','')
                this_close = float(this_close)
                
                historical_prices[this_date] = this_close

            elif this_date < start_date:
                return historical_prices
            
    
    # Navigating page
    if last_page == 0:
        last_page = source.find('td', class_='pgRR').find('a')['href']
        
        last_page = last_page.split('&')[1]
        last_page = last_page.split('=')[1]
        last_page = int(last_page)
        
    if page_n < last_page:
        page_n += 1
        historical_index_naver(index_cd, start_date, end_date, page_n, last_page)
        
    return historical_prices

In [63]:
def historical_stock_naver(stock_cd, start_date='', end_date='', page_n=1, last_page=0):
    
    if start_date:
        start_date = date_format(start_date)
    else:
        start_date = dt.date.today()
    if end_date:
        end_date = date_format(end_date)+datetime.timedelta(days=-1)
    else:
        end_date = dt.date.today()
    
    naver_stock = 'http://finance.naver.com/item/sise_day.nhn?code=' + stock_cd + '&page=' + str(page_n)
    
    source = urlopen(naver_stock).read()
    #source = requests.get(naver_stock)
    source = bs(source, 'lxml')
    
    dates = source.find_all('span', class_='tah p10 gray03')
    prices = source.find_all('td', class_='num')
    
    for n in range(len(dates)):
        
        if len(dates) > 0:
            
            # Handling date
            this_date = dates[n].text
            this_date = date_format(this_date)
            
            if this_date <= end_date and this_date >= start_date:
                
                # Handling closing price
                this_close = prices[n*6].text
                this_close = this_close.replace(',','')
                this_close = float(this_close)
                
                historical_prices[this_date] = this_close

            elif this_date < start_date:
                return historical_prices
            
    
    # Navigating page
    if last_page == 0:
        last_page = source.find('td', class_='pgRR').find('a')['href']
        last_page = last_page.split('&')[1]
        last_page = last_page.split('=')[1]
        last_page = int(last_page)
        
    if page_n < last_page:
        page_n += 1
        historical_stock_naver(stock_cd, start_date, end_date, page_n, last_page)
        
    return historical_prices

In [64]:
def threshold(data):
    if data < -0.05 or data > 0.05: return False
    else : return True

In [65]:
def target_theme(target_comapny):
    target_theme = {}
    for target in target_company:
        try:
            code = kosdaq[kosdaq['기업명']==target].iloc[0]['종목코드']
            code = str(code).zfill(6)
        except:
            code = kospi[kospi['기업명']==target].iloc[0]['종목코드']
            code = str(code).zfill(6)
        target_theme[code] = target
        
    return target_theme

In [66]:
def stock_get_info(target_theme):
    stock_outstanding = dict()
    stock_floating = dict()
    stock_name = dict()
    for stock_cd in target_theme.keys():
        stock_info(stock_cd)
    
    return stock_outstanding, stock_floating, stock_name

In [67]:
def theme_historical_price(target_theme, stard_date, end_date):
    theme_historical_prices = dict()

    for stock_cd in target_theme.keys():
        historical_prices = dict()
        historical_stock_naver(stock_cd, start_date, end_date)

        theme_historical_prices[stock_cd] = historical_prices

    theme_historical_price = pd.DataFrame(theme_historical_prices)
    theme_historical_price.sort_index(axis=1, inplace=True)

    theme_historical_price = theme_historical_price.fillna(method='ffill')
    if theme_historical_price.isnull().values.any():
        theme_historical_price = theme_historical_price.fillna(method='bfill')

    theme_historical_price['kospi200'] = historical_index_naver('KPI200', start_date, end_date).values()
    
    return theme_historical_price

In [83]:
def make_portfolio(theme, test_date):
    start_date, end_date = date_convert(test_date)
    themes=pd.read_csv("../Data/data_for_use/theme_company_cleansed_final.csv",index_col=0)
    target_company = target_company(themes)
    target_theme = target_theme(target_comapny)
    stock_outstanding, stock_floating, stock_name = stock_get_info(target_theme)
    theme_historical_price = theme_historical_price(target_theme, start_date, end_date)

    df = pd.DataFrame(np.zeros([6,len(target_company)+1]), columns=theme_historical_price.columns, index=theme_historical_price.index)
    for i in range(5):
        df.iloc[i] = (theme_historical_price.iloc[i] - theme_historical_price.iloc[i+1])/theme_historical_price.iloc[i]
    df.drop(index=[df.index[-1]], inplace=True)

    print('오늘의 추천종목은 : ')
    for i in range(len(target_company)):
        standard = 1
        for j in range(5):
            standard *= threshold(df.iloc[:, i][j])

        if standard == 1 : 
            print('{} : {}'.format(df.columns[i], target_theme[df.columns[i]]))

In [84]:
for i in df_final.Theme:
    make_portfolio(i, test_date)

UnboundLocalError: local variable 'target_company' referenced before assignment