In [1]:
import pandas as pd
import re
from datetime import datetime, date, timedelta

In [78]:
#어제날짜
yesterday = date.today() - timedelta(1)
yesterday = yesterday.strftime("%Y%m%d%H%M%S")[0:8]
yesterday

'20200629'

In [7]:
#수동설정
yesterday = '20200624'

In [8]:
section = ['IT과학','경제','사회','생활문화','세계','정치']

In [9]:
#데이터 합치기
for i in range(len(section)):
    if i == 0:
        df = pd.read_csv("../Data/today_news_data/{}_{}.csv".format(section[i],yesterday),
                         header=None, names = ['news'], engine='python')
    else:
        new_df = pd.read_csv("../Data/today_news_data/{}_{}.csv".format(section[i],yesterday),
                         header=None, names = ['news'], engine='python')
        df = pd.concat([df, new_df])

df = df.reset_index(drop=True)
df

                                                    news
0      대만에서 넥스트 에이서 행사 진행 서울 뉴시스 고은결 기자 에이서는 지난 23일 대...
1      장애 원인 노후화된 메인 데이터베이스 스토리 스위치 정상화된 홈앤쇼핑 애플리케이션 ...
2      존슨앤드존슨 제약부문 법인 얀센은 23일자로 스프라바토 나잘스프레이를 허가 받았다고...
3      알테오젠 4.7조 기술수출 작년 1.6조 이어 두번째 신약후보물질 수출과 달라 박순...
4      차량 주차 시 고임목 설치 모습. 매일신문DB 25일부터 일명 하준이법 주차장법 개...
...                                                  ...
23661  “한명숙 2심 공판중심주의 후퇴” 조 처장 “개별사건 답변 힘들어” 윤석열 총장 출...
23662  앵커 6·25 전쟁 70주년을 맞았지만 아직도 집으로 돌아오지 국군 전사자가 많습니...
23663  존 볼턴 전 백악관 국가안보보좌관이 회고록을 통해 도널드 트럼프 미국 대통령뿐만 아...
23664  23일 김태년 민주당 원내대표와 주호영 왼쪽 통합당 원내대표가 8일 만에 회동했지만...
23665  호남 이낙연과의 대결 의식한 영남 김부겸 민주당은 정책·비전으로 말해 출신 지역 나...

[23666 rows x 1 columns]

In [10]:
#길이 수정
for i in range(len(df)):
    if len(df['news'][i]) <= 100 :
        df = df.drop(index=i)

df = df.reset_index(drop=True)
df

                                                    news
0      대만에서 넥스트 에이서 행사 진행 서울 뉴시스 고은결 기자 에이서는 지난 23일 대...
1      장애 원인 노후화된 메인 데이터베이스 스토리 스위치 정상화된 홈앤쇼핑 애플리케이션 ...
2      존슨앤드존슨 제약부문 법인 얀센은 23일자로 스프라바토 나잘스프레이를 허가 받았다고...
3      알테오젠 4.7조 기술수출 작년 1.6조 이어 두번째 신약후보물질 수출과 달라 박순...
4      차량 주차 시 고임목 설치 모습. 매일신문DB 25일부터 일명 하준이법 주차장법 개...
...                                                  ...
21665  “한명숙 2심 공판중심주의 후퇴” 조 처장 “개별사건 답변 힘들어” 윤석열 총장 출...
21666  앵커 6·25 전쟁 70주년을 맞았지만 아직도 집으로 돌아오지 국군 전사자가 많습니...
21667  존 볼턴 전 백악관 국가안보보좌관이 회고록을 통해 도널드 트럼프 미국 대통령뿐만 아...
21668  23일 김태년 민주당 원내대표와 주호영 왼쪽 통합당 원내대표가 8일 만에 회동했지만...
21669  호남 이낙연과의 대결 의식한 영남 김부겸 민주당은 정책·비전으로 말해 출신 지역 나...

[21670 rows x 1 columns]

In [11]:
df.to_csv("../Data/data_for_use/{}_news_data.csv".format(yesterday))